# macOS
.DS_Store

# Python / venv / Poetry
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.poetry/
.venv/
.ptyhon-version

# Logs & artifacts
food_match_agent/logs/*.json
food_match_agent/logs/*.log

# Env & secrets
.env
.env.*
*.key
*.pem

# VS Code
.vscode/
